#canvas{
  border: 2px solid grey;
}

.button{
  background-color: #555555;
  cursor:pointer;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px; 
  flex-grow: 1;
  margin:1px;
}

.button>input[type=text]{
  margin-left: 3px;
  margin-right: 3px;
  font-size: 14px; 
  color: white;
  background-color: #555555;
  border: none;
  width: 3ch;
}

.problemboxLink{
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  margin: 1px;
  color: white;
  text-decoration: none;
}

.problembox{
  flex-grow: 1;
  background-color: #366aad;
  cursor:pointer;
  border: none;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px; 
}

.problembox.solved{
  background-color: #8697ad;
}

.toggleButton{
  background-color: #f44336; 
}

.toggleButton.on{
  background-color:#4CAF50; 
}

.button.invalid{
  background-color:#999999; 
}

#tooltip{
  display: block;
  position: absolute;
  border: 2px solid #f28918; 
  background-color: #f5e2a9;
  padding: 3px;
}

#tooltip.hidden{
  display: none;
}

.copytextarea{
    position:'fixed';
    top: 0;
    left: 0;
    width: '2em';
    height: '2em';
    padding: 0;
    border: 'none';
    outline: 'none';
    boxShadow: 'none';
}

.buttonrow{
  max-width: 720px;
  display: flex;
  flex-wrap: wrap;
}

.problemrow{
  max-width: 720px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2px;
}

.container{
  max-width: 720px;
  margin:auto;
}

.goodStatus{
  color: green;
}

.badStatus{
  color: red;
}

#canvas.dragging{
  cursor: none;
}

#canvas.zooming{
  cursor: zoom-in;
}
